<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--Meta stuffs-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TicketBird is an advanced ticket manager bot within Discord">
    <meta property="og:title" content="TicketBird Bot"/>
    <meta property="og:url" content="https://ticketbird.dreamexposure.org"/>
    <meta property="og:description" content="TicketBird is an advanced ticket manager bot within Discord"/>
    <meta property="og:image" content="/assets/images/logos/ticket-bird-logo.png">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/images/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/assets/images/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/images/favicons/favicon-144.png">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <title>Home // TicketBird</title>

    <!--Locally hosted-->
    <link href="/styles/global.css" rel="stylesheet">
</head>

<body>
<div class="top-nav">
    <a href="/" class="title"><h1>TICKETBIRD</h1></a>
    <a href="/about">About</a>
    <a href="/commands">Commands</a>
    <a href="/setup">Setup</a>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=456140067220750336&permissions=8&redirect_uri=https%3A%2F%2Fticketbird.dreamexposure.org&scope=bot">Invite</a>
    <a href="https://discord.gg/2TFqyuy" target="_blank">Support</a>
    <a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>
</div>

<div id="content">
    <div class="image-wrapper" style="float: left">
        <img src="/assets/images/logos/ticket-bird-logo.png"
             style="max-width: 200px; max-height: 200px;" alt="TicketBird Logo">
    </div>
    <h1>TicketBird Bot</h1>
    <h3>An advanced ticket manager bot within Discord</h3>

    <p>
        TicketBird manages tickets via discord for projects and services with ease making it easier to provide
        help to your users in a controlled and sensible fashion all in the comfort of Discord.
    </p>

    <a href="https://discordapp.com/api/oauth2/authorize?client_id=456140067220750336&permissions=8&redirect_uri=https%3A%2F%2Fticketbird.dreamexposure.org&scope=bot"
       target="_blank">
        <button>Add To Discord!</button>
    </a>

    <hr>
    <h2>See What Actual Users Are Saying</h2>
    <div class="quote-block">
        <div class="quote">
            <h4>Sours#5091</h4>
            <p>"Awesome again I appreciate your time and the work you put into these bots"</p>
        </div>
        <!--
        <div class="quote">
            <h4></h4>
            <p>""</p>
        </div>

        <div class="quote">
            <h4></h4>
            <p>""</p>
        </div>
        -->
    </div>

</div>
</body>

<footer id="footer">
    <p><span th:text="'© DreamExposure Studios ' + ${year} + ' All rights reserved.'"></span><span> - </span><a
            href="/policy/privacy">Privacy
        Policy</a><span> - </span><a href="https://www.dreamexposure.org">DreamExposure Studios</a></p>
</footer>
</html>
