<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--Meta stuffs-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="TicketBird is a bot that implements a robust ticket management system into Discord">
    <meta property="og:title" content="TicketBird Bot"/>
    <meta property="og:url" content="https://ticketbird.dreamexposure.org"/>
    <meta property="og:description"
          content="TicketBird is a bot that implements a robust ticket management system into Discord"/>
    <meta property="og:image" content="/assets/images/logos/ticket-bird-logo.png">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/images/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/assets/images/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/images/favicons/favicon-144.png">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->

    <title>Privacy Policy // TicketBird</title>

    <!--Locally hosted-->
    <link href="/styles/global.css" rel="stylesheet">
</head>

<body>
<div class="top-nav">
    <a href="/" class="title"><h1>TICKETBIRD</h1></a>
    <a href="/about">About</a>
    <a href="/commands">Commands</a>
    <a href="/setup">Setup</a>
    <a href="https://discordapp.com/api/oauth2/authorize?client_id=456140067220750336&permissions=8&redirect_uri=https%3A%2F%2Fticketbird.dreamexposure.org&scope=bot">Invite</a>
    <a href="https://discord.gg/2TFqyuy" target="_blank">Support</a>
    <a href="https://www.patreon.com/Novafox" target="_blank">Patreon</a>
</div>

<div id="content">
    <h1>Privacy Policy</h1>
    <p style="text-align: left">
        By using TicketBird you agree to Discord's <a href="https://discord.com/terms" target="_blank">Terms of Service</a>
        <br>
        <br>
        1) Information We Collect
        <br>
        We collect certain information from users to provide our services, which includes, but is not limited to
        ticket creation and management. The information we collect may include:
        <br>
        User IDs (snowflakes) from users that open or interact with tickets, channel IDs (snowflakes) of channels
        created and managed by the bot. We may also temporarily store message content to provide our services.
        <br>
        <br>
        2) Why We Collect Information
        <br>
        We collect this information to provide and improve our service to users. The information we collect allows us
        to operate the bot in accordance with the user's desired settings, customize the user's experience, and resolve
        issues and disputes.
        <br>
        <br>
        3) How We Protect User Information
        <br>
        We take the security of user information seriously and use industry best practices to safeguard it. We store
        data on a remote server that is secured with encryption and access is restricted to authorized personnel.
        We never exchange user data with third parties.
        <br>
        <br>
        4) Information Retention and Deletion
        <br>
        We will retain user information only as long as necessary to provide our services and as required by law.
        Once information is no longer needed for our services, we immediately delete it from our servers.
        <br>
        <br>
        5) Updates to Our Privacy Policy
        <br>
        We may update this privacy policy from time to time. If we make any material changes,
        we will notify users by posting a notice on our website or through other appropriate means.
        <br>
        <br>
        6) Contacting
        <br>
        Any questions or concerns can be answered via Discord, and joining the dedicated DreamExposure
        <a href="https://discord.gg/2TFqyuy" target="_blank">Discord Server</a>.
        <br>
        <br>
        Last Edited on 2023-09-27
    </p>
</div>
</body>

<footer id="footer">
    <p><span th:text="'© DreamExposure Studios ' + ${year} + ' All rights reserved.'"></span><span> - </span><a
            href="/policy/privacy">Privacy
        Policy</a><span> - </span><a href="https://www.dreamexposure.org">DreamExposure Studios</a></p>
</footer>
</html>
